{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}">
<header>
<h1>Feedback for {{video_name}}</h1>
</header>

<body>
{% if directives %}
	<ul>
	{% for item in directives %}
	<!--<li>{{item}}</>-->

	<!--<li><a href="">{{item}}</a></li>--> 
	<li>{{item}}</li>
	
	{% endfor %}
	</ul>
{% endif %}

{% block contents %}

<!--https://192.168.0.100:8000/ProcessedVideos/joao/badsq2r/badsq2r.mp4-->
<video name='video' controls autoplay width='50%' height='40%'>

    <source src="/{{MEDIA_URL}}ProcessedVideos/{{op_output_path}}" type="video/mp4"></source>
   
</video>
{% endblock %}
</body>