h1,h2,h3 {
font : Helvetica,Verdama,sans-serif;
}
header {
	font : 300 20px/2 Helvetica, Verdana, sans-serif;
	background: Cyan;
	margin-top: auto;
	padding: 10px 10px 10px 40px;
}

body {

	font : 300 16px/2 Helvetica, Verdana, sans-serif;
	background: #ddd;
	margin: 0;
    padding-top: 0px 0px 0px 0px;
}


li,a{
	font : 400 20px/2 Helvetica, Verdana, sans-serif;
	color : Black ;
	margin: 8;
	margin-top: 8;
	text-decoration: none;
	padding-left:8;
	
	text-align: left;
	
}

table{
	padding-top: 20px;
	margin-left: 8px;
}

td, th{
  
  text-align: center;
  padding-left: 8px ;
  padding-right: 0px;
  padding-top: 8px;
}

tr {
text-align: left;
padding-left: 8px ;
padding-right: 8px;


}
